.mode {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: $dark-desaturated;

  @media screen and (max-width: 554px) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
  }
  &__btn {
    width: 50px;
    height: 25px;
    margin-left: 10px;
    border-radius: 1em;
    position: relative;
    padding: 5px 2px;
    cursor: pointer;
    // border: 1px solid $dark-desaturated;
    background-color: white;

    span {
      position: absolute;
      height: 20px;
      width: 20px;
      top: 50%;
      transition: 1s ease-in-out;
      transform: translateY(-50%);
      border-radius: 100%;
      background-color: $dark-desaturated;
    }
  }
}
