.overview {
  margin-top: 20px;

  &__title {
    font-weight: 700;
    font-size: 1.3em;
    margin-bottom: 20px;
  }

  &__grid {
    display: grid;
    grid-template-areas: "1 2 3 4" "5 6 7 8";
    gap: 30px;

    @media screen and (max-width: 927px) {
      grid-template-areas: "1 2" "3 4" "5 6";
    }

    @media screen and (max-width: 554px) {
      grid-template-areas: "1" "2" "3" "4" "5" "6";
    }
  }
}
